{% load  static %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/_headerReferences.html' %}
<style>
    #id_message {
        height: 150px;
    }
</style>
<body>
{% include 'components/header.html' %}
<!-- Main Content-->
<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="text-center mt-5">Contact Us</h2>
                <div class="my-5">
                    <form id="contactForm" method="post">
                        {% csrf_token %}
                        <div class="form-floating">
                            {{ form.name }}
                            <label for="id_name">Name</label>
                            <div class="invalid-feedback" data-sb-feedback="id_name:required">A name is required.</div>
                        </div>
                        <div class="form-floating">
                            {{ form.email }}
                            <label for="id_email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="id_email:required">An email is required.
                            </div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <div class="form-floating">
                            {{ form.subject }}
                            <label for="id_subject">Subject</label>
                            <div class="invalid-feedback" data-sb-feedback="id_subject:required">A Subject is
                                required.
                            </div>
                        </div>
                        <div class="form-floating">
                            {{ form.message }}
                            <label for="id_message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="id_message:required">A message is required.
                            </div>
                        </div>
                        <br/>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase col-md-12 p-3" id="submitButton" type="submit">Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% include "components/footer.html" %}
{% include "components/_footerReferences.html" %}
</body>
</html>